<?xml version="1.0"?>
<robot name="PCR Workcell" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Materials -->
  <xacro:include filename="$(find pf400_description)/urdf/materials.xacro" />
  
  <!-- PF400 -->
  <xacro:include filename="$(find pf400_description)/urdf/PF400.urdf.xacro" />
  <xacro:pf400 prefix="pf400/"/>

  <!-- Peeler -->
  <xacro:include filename="$(find pf400_description)/urdf/peeler.urdf.xacro" />
  <xacro:Peeler prefix="peeler/"/>

  <!-- Sealer -->
  <xacro:include filename="$(find pf400_description)/urdf/sealer.urdf.xacro" />
  <xacro:Sealer prefix="sealer/"/>
  
  <!-- OT2 -->
  <xacro:include filename="$(find pf400_description)/urdf/OT2.urdf.xacro" />
  <xacro:OT2 prefix="ot2/"/>

  <!-- Thermocycler -->
  <xacro:include filename="$(find pf400_description)/urdf/thermocycler.urdf.xacro" />
  <xacro:Thermocycler prefix="thermocycler/"/>

  <!-- Hidex -->
  <xacro:include filename="$(find pf400_description)/urdf/hidex.urdf.xacro" />
  <xacro:Hidex prefix="hidex/"/>
  

  <!-- Module Carts -->
  <xacro:include filename="$(find pf400_description)/urdf/module_carts.urdf.xacro" />
  <xacro:Module_Carts prefix="module_carts/"/>


  <!-- Wrokcell Setup -->

  <joint name="pf400_module" type="fixed">
    <parent link="module_carts/pf400_cart"/>
    <child link="pf400/rail_base"/>
    <axis xyz="0 0 0"/>
    <origin xyz="-0.14 -0.0198 0.835" rpy="0 0 0"/>
    <limit effort="1000.0" lower="0" upper="0" velocity="0.5"/>
  </joint>

  <joint name="Thermocycler_Base" type="fixed">
    <parent link="module_carts/cart_2"/>
    <child link="thermocycler/thermocycler_base"/>
    <axis xyz="0 0 0"/>
    <origin xyz="0.2 -0.62 0" rpy="0 0 0"/>
    <limit effort="1000.0" lower="0" upper="0" velocity="0.5"/>
  </joint>

  <joint name="Thermocycler_Base2" type="fixed">
    <parent link="module_carts/cart_2"/>
    <child link="thermocycler/thermocycler_base2"/>
    <axis xyz="0 0 0"/>
    <origin xyz="-0.1 -0.62 0" rpy="0 0 0"/>
    <limit effort="1000.0" lower="0" upper="0" velocity="0.5"/>
  </joint>
  
  <joint name="Peeler_Base" type="fixed">
    <parent link="module_carts/cart_6"/>
    <child link="peeler/peeler_base"/>
    <axis xyz="0 0 0"/>
    <origin xyz="-0.13 0.15 1.042" rpy="0 0 0"/>
    <limit effort="1000.0" lower="0" upper="0" velocity="0.5"/>
  </joint>

  <joint name="Sealer_Base" type="fixed">
    <parent link="module_carts/cart_6"/>
    <child link="sealer/sealer_base"/>
    <axis xyz="0 0 0"/>
    <origin xyz="0.27 -0.53 1.042" rpy="0 0 0"/> 
    <limit effort="1000.0" lower="0" upper="0" velocity="0.5"/>
  </joint>

  <joint name="Hidex_Base" type="fixed">
    <parent link="module_carts/cart_3"/>
    <child link="hidex/hidex_body"/>
    <axis xyz="0 0 0"/>
    <origin xyz="0.2 -0.45 1.042" rpy="0 0 0"/> 
    <limit effort="1000.0" lower="0" upper="0" velocity="0.5"/>
  </joint>

  <joint name="OT2_alpha" type="fixed">
    <parent link="module_carts/cart_8"/>
    <child link="ot2/OT2_alpha"/>
    <axis xyz="0 0 0"/>
    <origin xyz="0.825 0.47 0" rpy="0 0 3.1416"/>
    <limit effort="1000.0" lower="0" upper="0" velocity="0.5"/>
  </joint>

  <joint name="OT2_betha" type="fixed">
    <parent link="module_carts/cart_7"/>
    <child link="ot2/OT2_betha"/>
    <axis xyz="0 0 0"/>
    <origin xyz="0.825 0.47 0" rpy="0 0 3.1416"/>
    <limit effort="1000.0" lower="0" upper="0" velocity="0.5"/>
  </joint>

</robot>
