<?xml version="1.0"?>
<robot name="Peeler" xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- Links -->
  <xacro:macro name="Peeler" params = "prefix">
    <link name="${prefix}peeler_base">
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="package://pf400_description/meshes/peeler_base.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="light_blue"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://pf400_description/meshes/peeler_base.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
    </collision>
  </link>

  <link name="${prefix}peeler_plate">
    <visual>
      <origin xyz="0 0 0" rpy="0 1.5708 0"/>
      <geometry>
        <mesh filename="package://pf400_description/meshes/peeler_plate.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://pf400_description/meshes/peeler_plate.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 1.5708 0"/>
    </collision>
  </link>

  <!-- Joints -->

  <joint name="Peeler_Plate_Joint" type="fixed">
    <parent link="${prefix}peeler_base"/>
    <child link="${prefix}peeler_plate"/>
    <axis xyz="0 0 1"/>
    <origin xyz="0.25 -0.18 0.083" rpy="1.5708 0 0"/> 
    <limit effort="1000.0" lower="0" upper="0.3" velocity="0.5"/>
  </joint>
  </xacro:macro>

</robot>
