<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="pf400_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00041451 0.026054 -0.001966"
        rpy="0 0 0" />
      <mass
        value="17.991" />
      <inertia
        ixx="7.5197"
        ixy="-8.8961E-06"
        ixz="4.7695E-05"
        iyy="7.5696"
        iyz="2.0688E-06"
        izz="0.054258" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pf400_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.64706 0.61961 0.58824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pf400_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="rail">
    <inertial>
      <origin
        xyz="0.0028859 0.040612 0.0031229"
        rpy="0 0 0" />
      <mass
        value="1.7574" />
      <inertia
        ixx="0.0054602"
        ixy="-4.7938E-05"
        ixz="1.3806E-05"
        iyy="0.012854"
        iyz="5.9293E-05"
        izz="0.0079198" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pf400_description/meshes/rail.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pf400_description/meshes/rail.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rail_joint"
    type="prismatic">
    <origin
      xyz="0 0.011 0.032"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="rail" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="tower">
    <inertial>
      <origin
        xyz="-0.00086637 0.68242 -0.043894"
        rpy="0 0 0" />
      <mass
        value="5.7231" />
      <inertia
        ixx="0.82016"
        ixy="0.0016757"
        ixz="-0.00020393"
        iyy="0.026182"
        iyz="-0.0003951"
        izz="0.82953" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pf400_description/meshes/tower.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.64706 0.61961 0.58431 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pf400_description/meshes/tower.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="tower_joint"
    type="prismatic">
    <origin
      xyz="0.0003782 0.0902 0"
      rpy="0 0 0" />
    <parent
      link="rail" />
    <child
      link="tower" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="inner_link">
    <inertial>
      <origin
        xyz="0.0022202 -0.020187 0.0058266"
        rpy="0 0 0" />
      <mass
        value="0.10693" />
      <inertia
        ixx="6.787E-05"
        ixy="3.7413E-07"
        ixz="-2.7126E-07"
        iyy="7.2417E-05"
        iyz="-2.8738E-07"
        izz="0.00013136" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pf400_description/meshes/inner_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.49804 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pf400_description/meshes/inner_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="inner_link_joint"
    type="revolute">
    <origin
      xyz="0.00020005 0.19773 0.10265"
      rpy="-1.5708 0 0" />
    <parent
      link="tower" />
    <child
      link="inner_link" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="outer_link">
    <inertial>
      <origin
        xyz="0.00033501 0.033171 0.23866"
        rpy="0 0 0" />
      <mass
        value="0.1216" />
      <inertia
        ixx="7.8784E-05"
        ixy="1.4155E-09"
        ixz="-6.4526E-08"
        iyy="0.00015812"
        iyz="-1.1506E-09"
        izz="8.7907E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pf400_description/meshes/outer_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pf400_description/meshes/outer_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="outer_link_joint"
    type="revolute">
    <origin
      xyz="0 -0.013 -0.098775"
      rpy="1.5708 0 0" />
    <parent
      link="inner_link" />
    <child
      link="outer_link" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="end_effector">
    <inertial>
      <origin
        xyz="-0.022182 -0.013407 0.024316"
        rpy="0 0 0" />
      <mass
        value="0.065158" />
      <inertia
        ixx="2.4492E-05"
        ixy="-1.316E-08"
        ixz="-1.9273E-10"
        iyy="4.2008E-05"
        iyz="2.4792E-08"
        izz="2.4392E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pf400_description/meshes/end_effector.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pf400_description/meshes/end_effector.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="end_effector_joint"
    type="revolute">
    <origin
      xyz="0.022804 -0.0082758 -0.024541"
      rpy="0 0 0" />
    <parent
      link="outer_link" />
    <child
      link="end_effector" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>