<?xml version="1.0"?>
<robot name="Sealer" xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- Links -->
  <xacro:macro name="Sealer" params = "prefix">
  <link name="${prefix}sealer_base">
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 1.5708"/>
      <geometry>
        <mesh filename="package://pf400_description/meshes/sealer_base.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="pink"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://pf400_description/meshes/sealer_base.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0 0 0" rpy="1.5708 0 1.5708"/>
    </collision>
  </link>

  <link name="${prefix}sealer_plate">
    <visual>
      <origin xyz="0 0 0" rpy="0 1.5708 0"/>
      <geometry>
        <mesh filename="package://pf400_description/meshes/sealer_plate.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="aluminum"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://pf400_description/meshes/sealer_plate.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 1.5708 0"/>
    </collision>
  </link>

  <!-- Joints -->

  <joint name="Sealer_Plate_Joint" type="fixed">
    <parent link="${prefix}sealer_base"/>
    <child link="${prefix}sealer_plate"/>
    <axis xyz="0 0 1"/>
    <origin xyz="0.057 0.28 0.01" rpy="1.5708 0 0"/>
    <limit effort="1000.0" lower="0" upper="0.25" velocity="0.5"/>
  </joint>
  </xacro:macro>

</robot>
