<?xml version="1.0"?>
<robot name="Thermocycler" xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- Links -->
  <xacro:macro name="Thermocycler" params = "prefix">
  <link name="${prefix}thermocycler_base">
    <visual>
      <origin xyz="0 0.5 1.042" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="package://pf400_description/meshes/thermocycler_base.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="light_grey"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://pf400_description/meshes/thermocycler_base.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0 0.5 1.042" rpy="1.5708 0 0"/>
    </collision>
  </link>

  <link name="${prefix}thermocycler_cap">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://pf400_description/meshes/thermocycler_cap.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="red"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://pf400_description/meshes/thermocycler_cap.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </collision>
  </link>

  <link name="${prefix}thermocycler_base2">
    <visual>
      <origin xyz="0 0.5 1.042" rpy="1.5708 0 0"/>
      <geometry>
        <mesh filename="package://pf400_description/meshes/thermocycler_base.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="light_grey"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://pf400_description/meshes/thermocycler_base.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0 0.5 1.042" rpy="1.5708 0 0"/>
    </collision>
  </link>

  <link name="${prefix}thermocycler_cap2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://pf400_description/meshes/thermocycler_cap.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="red"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://pf400_description/meshes/thermocycler_cap.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </collision>
  </link>


  <!-- Joints -->

  <joint name="Thermocycler_Cap" type="fixed">
    <parent link="${prefix}thermocycler_base"/>
    <child link="${prefix}thermocycler_cap"/>
    <axis xyz="-1 0 0"/>
    <origin xyz="0 0.466 1.05" rpy="0.4 0 0"/>
    <limit effort="1000.0" lower="1.2" upper="1.2" velocity="0.5"/>
  </joint>

  <joint name="Thermocycler_Cap2" type="fixed">
    <parent link="${prefix}thermocycler_base2"/>
    <child link="${prefix}thermocycler_cap2"/>
    <axis xyz="-1 0 0"/>
    <origin xyz="0 0.466 1.05" rpy="1.5708 0 0"/>
    <limit effort="1000.0" lower="1.2" upper="1.2" velocity="0.5"/>
  </joint>

  </xacro:macro>

</robot>
